
/* colors */

* {
  al:      #00000000;
  bg:      #282828;
  se:      #f5f5f5ff;
  fg:      #ebdbb2;
  ac:      #2900D0ff;
  red:     #cc241d;
  green:   #98971a;
  yellow:  #d79921;
  blue:    #458588;
  purple:  #b16286;
  cyan:    #689d6a;
}
